body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Conteúdo principal */
  main {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  
  #product {
    margin-bottom: 40px;
  }
  
  #product h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  #product img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  #product p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  #product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #product button:hover {
    background-color: #555;
  }
  
  #login {
    display: none;
    margin-bottom: 40px;
  }
  
  #login h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  #login form {
    display: flex;
    flex-direction: column;
  }
  
  #login label {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  #login input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #login button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #login button:hover {
    background-color: #555;
  }
  
  #login p {
    font-size: 16px;
    margin-top: 20px;
  }
  
  #login a {
    color: #333;
    text-decoration: underline;
  }
  
  #login a:hover {
    text-decoration: none;
    color: #555;
  }
  
  /* Rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  